*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
bower_components

## Environment normalisation:
/.bundle
/vendor/bundle

# Ignore environment settings
.env

.DS_Store
.ruby-version
