<div class="container">
  <div class="row">
    <h1>Edit {{quiz.name}}</h1>

    <div id="make">
      <div class="container quiz-details">
        <div class="question col-xs-9">
          <label>Quiz Name</label>
          <input type="text" value="{{quiz.name}}" ng-model="quiz.name">
        </div>
        <div class="question col-xs-9">
          <label>Quiz Description</label>
          <input type="text" value="{{quiz.description}}">
        </div>
      </div>
      <form id="question-form" class="container">
        <h3> Please review your questions:</h3>
        <div ng-repeat="question in quiz.questions track by $index">
          <div class='col-md-12'>
            <label>Question</label>
            <input type="text" value="{{question.ask}}" ng-model="question.ask">
          </div>
          <div class='col-md-6'>
            <label>Answer</label>
            <input type="text" value="{{question.answer}}" ng-model="question.answer">
          </div>
          <div class='col-md-6'>
            <label>Dummy 1</label>
            <input type="text" value="{{question.dummy1}}" ng-model="question.dummy1">
          </div>
          <div class='col-md-6'>
            <label>Dummy 2</label>
            <input type="text" value="{{question.dummy2}}" ng-model="question.dummy2">
          </div>
        </div>
        <div class='col-md-4'>
          <button ng-click="update()" type="button" class="btn btn-success">Update Quiz</button>
        </div>
      </form>



      <form id="question-form" class="container">
        <div class='col-md-12'>
          <h3> Please add any additional questions here:</h3>
          <label>Question</label>
          <input type="text" class="question" placeholder="Insert question here - don't forget the '?'">
        </div>
        <div class='col-md-6'>
          <label>Answer</label>
          <input type="text" class="answer" placeholder="Insert answer here">
        </div>
        <div class='col-md-6'>
          <label>Dummy 1</label>
          <input type="text" class="dummy1" placeholder="Insert 1st dummy answer here">
        </div>
        <div class='col-md-6'>
          <label>Dummy 2</label>
          <input type="text" class="dummy2" placeholder="Insert 2nd dummy answer here">
        </div>
        <div class='col-md-6'>
          <label>url</label>
          <input type="text" class="url" placeholder="Insert link to relevant media (Optional)">
        </div>
        <div class='col-md-4'>
          <button id="question-create" class="btn btn-warning">Create New Question</button>
        </div>
      </form>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/app/assets/stylesheets/quiz_take.css">

