<div ng-controller='QuizzesEditCtrl' class="container">
  <div class="row">
    <h1>Edit {{quiz.name}}</h1>

    <div id="make">
      <div class="container quiz-details">
        <div class="row">
        <div class="question col-xs-2">
          <label>Quiz Name</label>
        </div>
        <div class="col-xs-10">
          <input type="text" ng-model="quiz.name">
        </div>
      </div>
      <div class="row">
        <div class="question col-xs-2">
          <label>Quiz Topic</label>
        </div>
        <div class="col-xs-10">
          <input type="text" ng-model="quiz.description">
        </div>
      </div>
    </div>
      <h2> Please enter new question and press here to <button ng-click="create()" class="btn btn-info">Add New Question</button> to quiz:</h2>
      <form id="question-form" class="container">
        <div class="row">
          <div class='col-xs-2'>
            <label>Question</label>
          </div>
          <div class='col-xs-10'>
            <input type="text" class="question" placeholder="Type question here - don't forget the '?'" ng-model="question.ask">
          </div>
        </div>
        <div class="row">
          <div class='col-xs-2'>
            <label>Image URl</label>
          </div>
          <div class='col-xs-10'>
            <input type="text" class="question" placeholder="Insert link for question-related media here" ng-model="question.url">
          </div>
        </div>
        <div class="row">
          <div class='col-xs-2'>
            <label>Answer</label>
          </div>
          <div class='col-xs-4'>
            <input type="text" class="answer" placeholder="Insert answer here" ng-model="question.answer">
          </div>
          <div class='col-xs-2'>
            <label>Dummy 1</label>
          </div>
          <div class='col-xs-4'>
            <input type="text" class="dummy1" placeholder="Insert 1st dummy here" ng-model="question.dummy1">
          </div>
        </div>
        <div class="row">
          <div class='col-xs-2'>
            <label>Dummy 2</label>
          </div>
          <div class='col-xs-4'>
            <input type="text" class="answer" placeholder="Insert 2nd dummy here" ng-model="question.dummy2">
          </div>
        </div>
      </form>

      <hr>

      <h2> Please review questions below then press here to <button ng-click="update()" type="button" class="btn btn-success">Update Quiz</button></h2>

      <form id="question-form" class="container">
        <div ng-repeat="question in quiz.questions track by $index">
          <div class="row">
            <div class='col-xs-2'>
              <label>Question</label>
            </div>
            <div class='col-xs-10'>
              <input type="text" value="{{question.ask}}" ng-model="question.ask">
            </div>
          </div>
          <div class="row">
            <div class='col-xs-2'>
              <label>Image URl</label>
            </div>
            <div class='col-xs-10'>
              <input type="text" value="{{question.url}}" ng-model="question.url">
            </div>
          </div>
          <div class="row">
            <div class='col-xs-2'>
              <label>Answer</label>
            </div>
            <div class='col-xs-4'>
              <input type="text" value="{{question.answer}}" ng-model="question.answer">
            </div>
            <div class='col-xs-2'>
              <label>Dummy 1</label>
            </div>
            <div class='col-xs-4'>
              <input type="text" value="{{question.dummy1}}" ng-model="question.dummy1">
            </div>
          </div>
          <div class="row">
            <div class='col-xs-2'>
              <label>Dummy 2</label>
            </div>
            <div class='col-xs-4'>
              <input type="text" value="{{question.dummy2}}" ng-model="question.dummy2">
            </div>
            <div class='col-xs-4'>
              <button ng-click="delete($index)" type="button" class="btn btn-danger">Delete Question</button></br>
            </div>
          </div>
          <h5>Question created at: {{quiz.created_at | date}}</h5></br>
        </div>
      </form>
    </div>
  </div>
</div>

