<div class="container">
  <div class="row">
    <h2>Play one of the quizzes below or <a href="/#/quizzes/new" class="edit btn btn-lg btn-info">Create</a> your own</h2>

      <div ng-repeat="quiz in quizzes track by $index">
        <div class="page-header">
          <h3>{{ quiz.name }}: {{ quiz.description }} <a href="/#/quizzes/{{quiz.id}}" class="edit btn btn-sml btn-success">Play</a>
          <a href="/#/quizzes/{{quiz.id}}/edit" class="edit btn btn-sml btn-warning">Edit</a>
          <button class="delete btn btn-sml btn-danger" ng-click="delete(quiz.id)">Delete</button></h3>

          <h5>Created on: {{ quiz.created_at | date }}</h5>
        </div>
      </div>
  </div>
</div>