
<div ng-app='rails-final' class='container row col-md-12 col-sm-6'>
  <div class="container" ng-show="startMode">
    <h1>Quiz Taker</h1>
    <h2>About {{quiz.name}}: {{quiz.description}}</h2>
    <h3>Number of questions: {{numQuestions}}</h3>
    <h3>Alloted Time: {{numQuestions * 5}} seconds</h3>


    <input id="start-button" type="submit" ng-click="startQuiz()" class="col-md-12">
  </div>

  <div id="game" ng-show="playMode" class="container">
    <div id="category" class="row">
      <h1 class="col-md-12">{{quiz.name}}</h1>
    </div>
    <div class="row">
      <section class="ans-choices col-md-6">
        <h3>Question {{currentQId + 1}}</h3>
        <p>{{currentQ.ask}}</p>
        <h3>Please Choose Answer</h3>
          <div class="list-group col-md-10">
            <button type="button" id="pick1" class="list-group-item answers" ng-click="chkAnswer(choices[0])">{{choices[0]}}</button>
            <button type="button" id="pick2" class="list-group-item answers" ng-click="chkAnswer(choices[1])">{{choices[1]}}</button>
            <button type="button" id="pick3" class="list-group-item answers" ng-click="chkAnswer(choices[2])">{{choices[2]}}</button>
            <button type="button" id="skip" class="list-group-item" ng-click="skipQuestion()">Skip to Next Question</button>
          </div>
        <div class="row">
          <div class= "timer col-md-5">
            <label>Timer <span id="timeLeft">{{timer}}</span></label>
          </div>
          <div class="score col-md-5 col-md-offset-2">
            <label>Correct Answers<span id="scoreTot"> {{score}}</span></label>
          </div>
      </section>
      <section class="graphic col-md-5 col-md-offset-1">
        <h3>Related Graphic</h3>
        <img id="qpic" src="/public/photos/" class="img-responsive">
      </section>
    </div>
  </div>

  <div id="tally" ng-show="gameOver" class="container">
    <div id="gameover" class="row">
      <h1 class="col-md-12">Game Over</h1>
    </div>
    <div class="row">
      <section class="score-summary col-md-6">
        <h3>Final Score Details</h3>
          <div class="list-group col-md-10">
            <li class="list-group-item list-group-item">Quiz: <span class="pull-right">{{quiz.name}}</span></li>
            <li class="list-group-item list-group-item">Questions Skipped: <span class="pull-right">{{numQuestions-tried}}</span></li>
            <li class="list-group-item list-group-item">Questions Tried: <span class="pull-right">{{tried}}</span></li>
            <li class="list-group-item list-group-item">Answered Correctly :<span class="pull-right">{{score}}</span></li>
            <li class="list-group-item list-group-item">% Correct of Tried: <span class="pull-right">{{(score/tried*100)|number:1}}</span></li>
            <li class="list-group-item list-group-item">% Correct of Total: <span class="pull-right">{{score/numQuestions*100|number:1}}</span></li>
          </div>
      </section>
      <section class="player-status col-md-5 col-md-offset-1">
        <h3>Player Status</h3>
          <div class="list-group col-md-12">
            <li class="list-group-item list-group-item-success">Your % Correct of Total:<span class="pctTot pull-right">{{score/numQuestions*100|number:1}}</span></li>
            <li class="list-group-item list-group-item-danger">Earned you status of<span id="chkStat" class="pull-right"></span></li>
            <img id="statPic" src="/public/photos/" class="img-responsive">
          </div>
      </section>
    </div>
    <div class="row">
      <button ng-click="gameReset()" id="restart-button" class="col-md-12">
        Try Quiz Again
      </button>
    </div>
    <div class="row">
      <a href="/#/quizzes">
        <input id="newquiz-button" type="submit" value="Try Another Quiz" class="col-md-12">
      </a>
    </div>
  </div>
</div>
