<!-- <div class="container">
  <div class="row">
    <h3>Play Quiz</h3>
    <h4>Name: {{ quiz.name }}</h4>
    <h4>Description: {{ quiz.description }}</h4>
  </div>
</div> -->

<div class='container row col-md-12 col-sm-6'>
  <div class="container">
    <h1>Quiz Taker</h1>
    <input id="start-button" type="submit" value="Start Game" class="col-md-12">
  </div>
  <div id="game" class="container">
    <div id="category" class="row">
      <h1 class="col-md-12">Quiz</h1>
    </div>
    <div class="row">
      <section class="ans-choices col-md-6">
        <h3>Question</h3>
        <p id="question"></p>
        <h3>Choose Answer</h3>
          <div class="list-group col-md-10">
            <button type="button" id="pick1" class="list-group-item answers" name="choice1"></button>
            <button type="button" id="pick2" class="list-group-item answers" name="choice2"></button>
            <button type="button" id="pick3" class="list-group-item answers" name="choice3"></button>
            <button type="button" id="skip" class="list-group-item" name="skip">Skip to Next Question</button>
          </div>
        <div class="row">
          <div class= "timer col-md-5">
            <label>Timer<span id="timeLeft"></span></label>
          </div>
          <div class="score col-md-5 col-md-offset-2">
            <label>Correct Answers<span id="scoreTot"></span></label>
          </div>
      </section>
      <section class="graphic col-md-5 col-md-offset-1">
        <h3>Related Graphic</h3>
        <img id="qpic" src="/public/photos/" class="img-responsive">
      </section>
    </div>
    <div class="row">
      <input id="answer-button" type="submit" value="Submit Answer" class="col-md-12" disabled>
    </div>
  </div>
  <div id="tally" class="container">
    <div id="gameover" class="row">
      <h1 class="col-md-12">Game Over</h1>
    </div>
    <div class="row">
      <section class="score-summary col-md-6">
        <h3>Final Score Details</h3>
          <div class="list-group col-md-10">
            <li class="list-group-item list-group-item">Category and Level: <span id="catLevel" class="pull-right"></span></li>
            <li class="list-group-item list-group-item">Questions Skipped: <span id="qstSkp" class="pull-right"></span></li>
            <li class="list-group-item list-group-item">Questions Attempted: <span id="qstTry" class="pull-right"></span></li>
            <li class="list-group-item list-group-item">Answered Correctly :<span id="ansRgt" class="pull-right"></span></li>
            <li class="list-group-item list-group-item">% Correct of Attempted: <span id="pctTry" class="pull-right"></span></li>
            <li class="list-group-item list-group-item">% Correct of Total Asked: <span class="pctTot pull-right"></span></li>
            <li class="list-group-item list-group-item">Total Points: <span id="totPts" class="pull-right"></span></li>
          </div>
      </section>
      <section class="player-status col-md-5 col-md-offset-1">
        <h3>Player Status</h3>
          <div class="list-group col-md-12">
            <li class="list-group-item list-group-item-success">Your % Correct of Total:<span class="pctTot pull-right"></span></li>
            <li class="list-group-item list-group-item-danger">Earned you status of<span id="chkStat" class="pull-right"></span></li>
            <img id="statPic" src="/public/photos/" class="img-responsive">
          </div>
      </section>
    </div>
    <div class="row">
      <input id="restart-button" type="submit" value="Take Quiz Again" class="col-md-12">
    </div>
    <div class="row">
      <a href="/quiz_choose">
        <input id="newquiz-button" type="submit" value="Take New Quiz" class="col-md-12">
      </a>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/app/assets/stylesheets/quiz_take.css">
