<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="https://s3-ap-southeast-1.amazonaws.com/qm3/The-Fountain.webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="https://s3-ap-southeast-1.amazonaws.com/qm3/The-Fountain.mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="https://s3-ap-southeast-1.amazonaws.com/qm3/The-Fountain.jpg" alt="">
        </div>

    </div>
</div>

<div class="slogan">
  <h1>QuizMaster: Your Fountain of Knowledge</h1>
</div>